.flex {
  display: flex;
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 100px;
}

.fields{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: flex-end;
  gap: 20px;
}

@media only screen and (max-width: 850px) {
  .container {
    padding: 10px;
  }
  .fields {
    grid-template-columns: 1fr;
  }
}